<% include layout/header.ejs %>

    <h3>Items list:</h3>
    
    <a href="/create">Add</a>
    <ul>
        <% arr.forEach(function(item){ %>
            <li>
                <h3>
                    <a href="#">
                        <%=item.title %>
                    </a>    
                </h3>
                <p>
                    <%=item.body %> 
                </p>
            </li>
        <% }); %>
    </ul>

<% include layout/footer.ejs %>    